.app-container
    .header-container
        background #FDFFFC
        height 7vh
    .game-center 
        display flex
        flex-direction column
        justify-content space-between
        background #363636
        height 93vh
        .character-drop-zone
            color #fff
            padding 4rem
            .character-drop-zone-inner-container
                display flex
                flex-direction column
                align-items center
                .character-holder-connector
                    width 100px
                    display flex
                    flex-direction column
                    align-items center
                    // .connector-container
                .secondary-container
                    display flex
                    justify-content center
                    width 400px
                .children-1
                    margin-top 0
                .children-2
                    margin-top -145px
            .character-holder-container
                z-index 100
            .character-holder-container > div
                display flex
                flex-direction column
                align-items center
                background #011627
                color white
                padding: 5px;
                border-radius: 5px;
                position: relative;
                .image
                    width 5rem
                    height 5rem
                    // border-radius 50%
                .image-holder
                    width 5rem
                    height 5rem
                    // border-radius 50%
                .error
                    position absolute
                    top 0
                    color red
                    font-size 90px
                    left 10px
                .success
                    position absolute
                    top 0
                    color greenyellow
                    font-size 22px
            .is-over
                .image-holder
                    background gray
        .pick-character-container 
            padding 1rem
            display flex
            justify-content space-around
            background #e2e2e2
            .character-container
                display flex
                flex-direction column
                align-items center
                .image
                    width 5rem
                    height 5rem
                    border-radius 50%
            .dragging
                opacity 0.5



.control-center
    position fixed
    top 0
    left 0
    width 100vw
    height 100vh
    background rgba(128, 128, 128, 0.6)
    opacity 0.7
    z-index 1000
    display flex
    justify-content center
    align-items center
    .control-center-content
        display flex
        flex-direction column
        justify-content center
        align-items center
        height 150px
        width 400px
        border-radius 5px
        background #011627
        color #fff
        .header
            margin-bottom 20px
            font-size 30px
