.app-container
    .header
    .game-center 
        display flex
        flex-direction column
        justify-content space-between
        .character-drop-zone
            .character-drop-zone-inner-container
                display flex
                flex-direction column
                align-items center
                .character-holder-connector
                    width 100px
                    display flex
                    flex-direction column
                    align-items center
                    // .connector-container
                .secondary-container
                    display flex
                    justify-content center
                    width 400px
                .children-1
                    margin-top 0
                .children-2
                    margin-top -145px
            .character-holder-container > div
                display flex
                flex-direction column
                align-items center
                .image
                    width 5rem
                    height 5rem
                    border-radius 50%
                .image-holder
                    width 5rem
                    height 5rem
                    border-radius 50%
                    border 3px dashed gray
            .is-over
                .image-holder
                    background gray
        .pick-character-container 
            padding 1rem
            display flex
            justify-content space-around
            background #e2e2e2
            .character-container
                display flex
                flex-direction column
                align-items center
                .image
                    width 5rem
                    height 5rem
                    border-radius 50%
            .dragging
                opacity 0.5



