* 
    box-sizing border-box

body 
    margin: 0
    font-size 12px
    font-family 'Roboto', sans-serif

h1, h2, h3, h4, h5, h6 
    margin: 0


// Constants

$gray = #e2e2e2
$primary = #011627
$secondary = #FF0022