<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Game of Drag and Drop</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <script src="https://use.fontawesome.com/b40767272c.js"></script>
  </head>
  <body>
    <div id="app-container"></div>
    <script type="text/javascript" src="../build/bundle.js"></script>
  </body>
</html>